@function calculate-rem($size) {
  $rem-size: $size * (10 / 16);
  @return $rem-size;
}

// Font sizes
$font-size-nano: calculate-rem(0.8rem);
$font-size-micro: calculate-rem(0.8rem);
$font-size-mini: calculate-rem(1rem);
$font-size-small: calculate-rem(1.2rem);
$font-size-default: calculate-rem(1.4rem);
$font-size-medium: calculate-rem(1.6rem);
$font-size-large: calculate-rem(2rem);
$font-size-big: calculate-rem(2.4rem);
$font-size-bigger: calculate-rem(3.2rem);
$font-size-mega: calculate-rem(4rem);
$font-size-giga: calculate-rem(5.6rem);

// spaces
$zero: 0;
$space-micro: calculate-rem(0.2rem);
$space-smaller: calculate-rem(0.4rem);
$space-small: calculate-rem(0.8rem);
$space-one: calculate-rem(1rem);
$space-slab: calculate-rem(1.2rem);
$space-normal: calculate-rem(1.6rem);
$space-two: calculate-rem(2rem);
$space-medium: calculate-rem(2.4rem);
$space-large: calculate-rem(3.2rem);
$space-larger: calculate-rem(4.8rem);
$space-big: calculate-rem(6.4rem);
$space-jumbo: calculate-rem(8rem);
$space-mega: calculate-rem(10rem);

// font-weight
$font-weight-feather: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-black: 700;

//Navbar
$nav-bar-width: calculate-rem(23rem);
$header-height: calculate-rem(5.6rem);

// Woot Logo
$woot-logo-width: calculate-rem(20rem);
$woot-logo-height: calculate-rem(8rem);
$woot-logo-padding: $space-large $space-large $space-large $space-large;

// Colors
$color-woot: #1f93ff;
$color-primary: $color-woot;
$color-gray: #6e6f73;
$color-light-gray: #999a9b;
$color-border: #e0e6ed;
$color-border-transparent: rgba(224, 230, 237, 0.5);
$color-border-light: #f0f4f5;
$color-border-dark: #cad0d4;
$color-background: #f5f5f5;
$color-background-light: #fafafa;
$color-white: #fff;
$color-body: #000;
$color-heading: #1f2d3d;
$color-error: #ff382d;

// Color-palettes

$color-primary-light: #c7e3ff;
$color-primary-dark: darken($color-woot, 20%);


// Thumbnail
$thumbnail-radius: calculate-rem(4rem);

// chat-header
$conv-header-height: calculate-rem(4rem);

// login

// Inbox List

$inbox-thumb-size: calculate-rem(4.8rem);


// Spinner
$spinkit-spinner-color: $color-white !default;
$spinkit-spinner-margin: 0 0 0 calculate-rem(1.6rem) !default;
$spinkit-size: calculate-rem(1.6rem) !default;

// Snackbar default
$woot-snackbar-bg: #323232;
$woot-snackbar-button: #ffeb3b;

$swift-ease-out-duration: .4s !default;
$swift-ease-out-timing-function: cubic-bezier(.25, .8, .25, 1) !default;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;

$border-radius: 3px;
$line-height: 1;
$footer-height: calculate-rem(11.2rem);
$header-expanded-height: $space-medium * 10;

$font-family: 'Inter',
-apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Tahoma,
Arial,
sans-serif;
$ionicons-font-path: '~ionicons/fonts';

$spinkit-spinner-color: $color-white !default;
$spinkit-spinner-margin: 0 0 0 calculate-rem(1.6rem) !default;
$spinkit-size: calculate-rem(1.6rem) !default;

// Break points
$break-point-medium: 667px;

// Timing functions

$ease-in-cubic: cubic-bezier(.17, .67, .83, .67);
